{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <style>
        
        .layer { 
        border: 2px solid darkblue;
        padding: 50px;
    }
    </style>
    <meta name="description" content="Киномонстр - это портал о кино" />
	<meta name="keywords" content="фильмы, фильмы онлайн, hd" />
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" /> 
</head>
<body> 
    
	<div class="main">
		
		<div class="header">
			<div class="logo">
				<div class="logo_text">
					<h1><a href="{% url 'home' %}">КиноМонстр</a></h1>
					<h2>Кино - наша страсть!</h2>
				</div>
			</div>
			
			<div class="menubar">
				
				<ul class="menu">
					<li class="selected"><a href="{% url 'home' %}">Главная</a></li>	
					<li><a href="{% url 'films' %}">Фильмы</a></li>
					<li><a href="{% url 'rating' %}">Рейтинг фильмов</a></li>
					<li><a href="{% url 'contact' %}">Отзывы</a></li>
				</ul>

			</div>

		</div>

			
	
			
    <div class="layer">
					
        <hr>
        <h2>Как снимали Интерстеллар </h2>
        <div class="posts_content">
            <p>
                45 лет исполнилось Кристоферу Нолану — одному из самых успешных режиссеров нашего времени, чьи работы одинаково любимы как взыскательными критиками, так и простыми зрителями. Фильмом изначально занималась студия Paramount. Когда Кристофер Нолан занял место режиссера, студия Warner Bros., которая выпускала его последние фильмы, добилась участия в проекте.
            </p>
        </div>
        
        <div class="posts_content">
            <h2>За гранью возможного: для съёмок «Интерстеллара» камеры закрепляли на борту самолёта</h2>
            <h3>Многие сцены фильма были сняты в формате IMAX</h3>
            <p>
                6 ноября на российские экраны выходит новый фильм Кристофера Нолана «Интерстеллар». Нолан подарил зрителям трилогию о Тёмном рыцаре, триллер «Помни», фантасмагорию «Престиж» и фантастический боевик «Начало». «Интерстеллар» - это история судьбоносного космического путешествия, целью которого является открытие новой планеты, пригодной для жизни населения Земли.

                За гранью возможного: для съёмок «Интерстеллара» камеры закрепляли на борту самолёта

                В основе картины лежит не оригинальная идея, а тема существования чёрных дыр и параллельных измерений, предложенная физиком-теоретиком Кипом Торном. Первоначально права на картину принадлежали студии Paramount, а снимать её должен был Стивен Спилберг. В 2006 году к переработке черновика привлекли Джонатана Нолана – брата Кристофера Нолана. Работу предстояло проделать кропотливую, ведь уместить в будущий фантастический блокбастер множество научных обоснований – дело довольно сложное. Этот процесс занял продолжительное время. Параллельно с подготовкой к съёмкам «Интерстеллара», Спилберг работал и над другими проектами. Времени на всё не хватало и режиссёр был вынужден покинуть команду фильма.

            </p>
            <a href="#"><img src="{% static 'assets/img/intetstell.png' %}"></a>
        </div>
        <p><a href="https://www.youtube.com/watch?v=fdwHVtAan38&t=31s">смотреть</a></p>

        <hr>

        <div class="footer">
            <p>
                <a href="{% url 'home' %}">Главная</a> |
                <a href="{% url 'films' %}">Фильмы</a> | 
                <a href="{% url 'rating' %}">Рейтинг фильмов</a> |
                <a href="{% url 'contact' %}">Отзывы</a>
            </p>
            <p>wh-db.com 2021</p>
        </div>
    
</body>
</html>

