{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <style>
        
        .layer { 
        border: 2px solid darkblue;
        padding: 50px;
    }
    </style>
    <meta name="description" content="Киномонстр - это портал о кино" />
	<meta name="keywords" content="фильмы, фильмы онлайн, hd" />
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" /> 
</head>
<body> 
    
	<div class="main">
		
		<div class="header">
			<div class="logo">
				<div class="logo_text">
					<h1><a href="{% url 'home' %}">КиноМонстр</a></h1>
					<h2>Кино - наша страсть!</h2>
				</div>
			</div>
			
			<div class="menubar">
				
				<ul class="menu">
					<li class="selected"><a href="{% url 'home' %}">Главная</a></li>	
					<li><a href="{% url 'films' %}">Фильмы</a></li>
					<li><a href="{% url 'rating' %}">Рейтинг фильмов</a></li>
					<li><a href="{% url 'contact' %}">Отзывы</a></li>
				</ul>

			</div>

		</div>

			
	
			
    <div class="layer">
					
        <hr>
        <h2>Актер Том Хенкс поделился впечатлением о фестивале</h2>
        <div class="posts_content">
            <p>
                16 февраля в Лондоне состоялась 67-я церемония вручения наград Британской киноакадемии. Леонардо ДиКаприо, Брэд Питт, Анджелина Джоли, Кейт Бланшетт, Хелен Миррен, Эми Адамс, Кристиан Бэйл, Альфонсо Куарон и другие гости и победители премии — в нашем репортаже.
            </p>
        </div>
        
        <div class="posts_content">
            <h2>Церемония вручения премии BAFTA</h2>
            <h3>АВТОР: MARINA · 17 ФЕВРАЛЯ 2014</h3>
            <p>
                В воскресенье, 16-го февраля, состоялась 67-ая церемония вручения  Британской академии кино и телевизионных искусств. Мероприятие прошло в королевском театре Ковернт-Гарден в Лондоне.

                На церемонии присутствовали звезды первой величины, среди которых Брэд Питт, Анджелина Джоли, Леонардо Ди Каприо, Кристиан Бейл, Сандра Буллок, Эми Адамс, Брэдли Купер, Кейт Бланшетт и так далее.

                Представляем вам список победителей в основных категориях:
                
                Лучший фильм: «12 лет рабства»
                
                Лучший режиссер: Алфонсо Куарон («Гравитация»)
                
                Лучший актер: Чиветел Эджиофор («12 лет рабства»)
                
                Лучшая актриса: Кейт Бланшетт («Жасмин»)
                
                Лучший актер второго плана: Бархад Абди («Капитан Филлипс»)
                
                Лучшая актриса второго плана: Дженнифер Лоуренс («Афера по-американски»)
                
                Лучший оригинальный сценарий: «Афера по –американски» (Эрик Уорен Сингер, Дэвид О.Расселл)
                
                Лучшие костюмы: «Великий Гэтсби» (Кетрин Мартин)
                
                 
                
                Красная дорожка церемонии BAFTA
                
                Родители шестерых детей Брэд Питт и Анджелина Джоли для мероприятия выбрали смокинги, у Анджелины от Saint Laurent, у Брэда от Valentino
                
                
            </p>
            <a href="#"><img src="{% static 'assets/img/joly.png' %}"></a>
        </div>
        <hr>

        <div class="footer">
            <p>
                <a href="{% url 'home' %}">Главная</a> |
                <a href="{% url 'films' %}">Фильмы</a> | 
                <a href="{% url 'rating' %}">Рейтинг фильмов</a> |
                <a href="{% url 'contact' %}">Отзывы</a>
            </p>
            <p>wh-db.com 2021</p>
        </div>
    
</body>
</html>

